MODE=DEV
DOCS_USER=admin
DOCS_PASSWORD=docs123
SECRET_KEY=super-secret-key-change-in-production-12345
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fastapi_auth
DB_USER=postgres
DB_PASSWORD=postgres #НЕ ЗАБУДЬТЕ ПОМЕНЯТЬ НА СВОЙ ПАРОЛЬ В PSQL